*
{
    margin:0;
    padding:0;

}
body{
    
  
    font-family: 'Exo 2', sans-serif;
    height:700px;
    width: 1300px;
    margin:0 auto;
  
   
}
main{
    position: relative;
  
    

}
.TOP
{
    margin-top:60px;
    position: relative;
}

#BG
{
    height:100%;
    width:100%;
    object-fit: contain;
    object-position: center;
    opacity:1;
    z-index:-100;
 
    
}

.Bulb
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    top:-170px;
    left:30%;
    height:50px;
    width:50px;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
    background-color: rgb(136, 76, 7);
    transition: background-color 1s, transform 1s;


 

} 
.W1  div > div, .W2  div > div, .W3 div > div, .W4  div > div,  .W5  div > div, .W6  div > div{
    
    opacity:0;
    transition: opacity 1s;
}
.Bulb:hover
{
    background-color: rgb(110, 51, 150);
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    cursor:pointer;

}

#Circle
{
    width:19%;
    height:32%;
    background-color: rgb(54, 54, 54);
    position: absolute;
    bottom:10%;
    left:4%;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
    
  
}

.icon
{
    position: absolute;
    text-align: center;
    margin:0 auto;
    display: inline-block;
    color:white;
    opacity:1;
    transition: ease all;
    z-index:100;
    
}

.icon:hover
{
    cursor: pointer;
    color:white;
    animation-name: dance;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;

}
.letters
{
    position: relative;
    
    height:12%;
    width:12%;
}
.F,.O,.R,.S,.P,.O2,.K,.E,.N{
    position: absolute;
    color:white;
    text-align: center;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    width:100%;
    height:100%;
    transition:all ease .5s;
    
 
}

.GameArea
{
 
    position: absolute;
    top:2%;
    left:18%;

}
.LetterSelectedArea
{
    position: absolute;
    
    width:15%;
    height:8%; 
    left:40px;
     top: 49%;
     color:rgb(255, 255, 255);
     visibility: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
  
     
    

}

span{

  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:70%;
    width:12%;
    background-color: #337231;
    
}


.W1
{
  
   
    width:70px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    top:90px;
    left:156px;
}
.W2{

    width:70px;
        
         position: relative;
         display: flex;
       color:white;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       left:31px;
       top:-54.4px;
}
.W3
{
    width:70px;
        
         position: relative;
         display: flex;
       color:white;
       flex-direction: column;
       justify-content: center;
       align-items: center;
  left:271px;
  top:-250px;
}

.W4
{
    width:70px;
        
    position: relative;
    display: flex;
  color:white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left:111px;
  top:-400px;
}

.W5
{
    width:70px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    top:-590px;
    left:156px;
}



.W5 div{
  
    width:20%;
   
    color:black;
   padding: 5px 8px;

    margin-right:10px;
    background-color: white;
}
.W5 div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.W6
{  
    width:70px;
        
    position: relative;
    display: flex;
  color:white;
  justify-content: center;
  align-items: center;
    bottom:874px;
    left:96px;
    
}
.W6 div{
    
    
    width:20%;
   
    color:black;
   padding: 5px 8px;

    margin-right:10px;
    background-color: white;
}
.W6 div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.W1 div{

    
  
    width:20%;
   
    color:black;
   padding: 5px 8px;

    margin-right:10px;
    background-color: white;
   
    
}
.W2 div{
 
    
    width:20%;
    color:black;
    padding: 5px 8px;

    background-color: white;
    margin-top:10px;

}
.W4 div{
    width:20%;
    height:30px;
    color:black;
    padding: 5px 8px;

    background-color: white;
    margin-top:10px;
}
.W3 div{
    width:20%;
    height:30px;
    color:black;
    padding: 5px 8px;

    background-color: white;
    margin-top:10px;

}
.W1 div > div{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.W2 div > div, .W4 div > div{
    height:3px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.W3 div > div{
   
    height:3px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



@keyframes rotate
{

    from 
    {
       
        transform: rotate(0deg);
     
    }

    to
    {
      
        transform: rotate(360deg);
       
    }
}

@keyframes dance {
   
    10%
    {
        color:red;
    }
    20%
    {
        color:aqua;
    }

    30%
    {
            color:yellow;
    }
    40%
    {
       color:rgb(68, 167, 126);
    }
    50%
    {
        color:rgb(180, 56, 128);

    }
    60%
    {
        color:rgb(139, 190, 43);
    }
    70%
    {
        color:rgb(80, 150, 91);
    }

    80%
    {
            color:rgb(206, 89, 36);
    }
    90%
    {
       color:rgb(212, 168, 23);
    }
    100%
    {
        color:rgb(180, 23, 146);

    }
}